<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

<div>
    <th:block th:each="msg, state : ${messages}">
        <div style="color: SpringGreen" th:if="${state.index} == 0">
            <h1 th:text="${msg}" th:align="center"></h1>
        </div>
        <div style="color: black" th:if="${state.index} != 0">
            <h3 th:text="${msg}" th:align="center"></h3>
        </div>
<!--        <h1 th:text="${msg}" th:align="center"></h1>-->
    </th:block>
<!--    <form th:method="GET" th:action="@{/users}" th:align="center">-->
<!--        <input th:type="submit" value="Show users"/>-->
<!--    </form>-->
</div>

</body>

</html>